body {
	font-family: 'Roboto Slab', serif;
}

.title, .subtitle{
	font-family: 'Yellowtail', cursive;
}

.level-item .title, .level-item .subtitle{
	margin-bottom: 1rem;
}

.hero-body {
	padding: 2rem 1.5rem;
}

.column-flex{
	display: flex;
	align-items: center;
}

.column-flex-right{
	display: flex;
	align-items:center;
}

.level-item__left{
	width:100%;
	// transform: rotate(-90deg);
}

.level-item__right{
	width:100%;
	padding-right: 5px;
	// transform: rotate(90deg);
}

.login-form{
	margin: 0 auto;
}